@import url("global.css");

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.chat-window {
    width: 300px;
    margin: 20px auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chat-header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.chat-form {
    padding: 10px;
}

.chat-form input,
.chat-form textarea,
.chat-form .submit-button {
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.chat-form textarea {
    resize: none;
    height: 100px;
}

.submit-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #0056b3;
}

.message-container {
    padding: 10px;
}

.message-item {
    border-radius: 3px;
    background-color: #0056b3;
}
.message-item > p {
    color: white;
    padding: 5px;
    max-width: 100%;
    word-wrap: break-word;
}