<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
</head>
<body>
    <h1 class="initial-msg">Hello..</h1>

    <div class="message-block"></div>

    <form action="" method="post">
        <input type="text" class="username" placeholder="User name" required>
        <input type="text" class="message" placeholder="Message" required>
        <input type="submit" value="Send!">
    </form>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
   
   <script type="text/javascript" charset="utf-8">
       var socket = io();
       socket.on('connect', function() {
           socket.emit('my event', {
               data: 'User connected'
           });

       var form = $('form').on('submit', function(e) {
           e.preventDefault()
           let name = $('input.username').val()
           let msg = $('input.message').val()

           socket.emit('my event', {
              user_name : name,
              message: msg,
           })

           $('input.message').focus()
        });    
       })

       socket.on('my response', function(msg) {
            if(typeof msg.user_name !== 'undefined') {
                $('h1.initial-msg').remove()
                $('div.message-block').append(msg.user_name + ': ' + msg.message + '<br>')
            }
})

</script>
</body>
</html>