<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/session.css')}}">
    <title>Document</title>
</head>
<body>
    <div class="chat-window">
        <div class="chat-header">Chat</div>
        <form action="" class="chat-form" method="post">
            <input type="text" class="username" placeholder="User name" required>
            <textarea class="message" placeholder="Message" required></textarea>
            <input type="submit" value="Send!" class="submit-button">
        </form>
        <div class="message-container" id="message-container"></div>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
   
   <script type="text/javascript" charset="utf-8">
       var socket = io();
       socket.on('connect', function() {
           socket.emit('my event', {
               data: 'User connected'
            });

       var form = $('form').on('submit', function(e) {
           e.preventDefault()
           let name = $('input.username').val()
           let msg = $('textarea.message').val()

           socket.emit('my event', {
              user_name : name,
              message: msg,
           })

           $('textarea.message').focus()
        });    
       })

       socket.on('my response', function(msg) {
            if(typeof msg.user_name !== 'undefined') {
                $('#message-container').append(msg.user_name + ': ' + msg.message + '<br>')
            }
})

</script>
</body>
</html>